<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PIN CHANGE</title>
</head>
<body>
<form action="/change_PIN">
<table>
    <tr>
        <td>Current PIN:</td>
        <td><input type="text" name="pin1"></td>
    </tr>
    <tr>
        <td>New PIN:</td>
        <td><input type="text" name="pin2"></td>
    </tr>
    <tr>
        <td>Confirm  PIN:</td>
        <td><input type="text" name="pin3"></td>
    </tr>
</table>

    <input type="submit">
</form>
{{ rmsg }}
</body>
</html>