<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EMPLOYEE REGISTRATION</title>
</head>
<body>
    <form action="/employee">
<table>
    <tr>
        <td>Employee Id</td>
        <td><input type="text" name="ei"></td>
    </tr>
    <tr>
        <td>Employee Name</td>
        <td><input type="text" name="en"></td>
    </tr>
    <tr>
        <td>DOB</td>
        <td><input type="text" name="dob1" placeholder="dd-mm-yy"></td>
    </tr>
    <tr>
        <td>Gender</td>
        <td><input type="radio" name="gen" id="i" value="Male" >Male<input type="radio" name="gen" id="j"  value="Female">Female</td>
    </tr>
    <tr>
        <td>Designation</td>
        <td><input type="text" name="des"></td>
    </tr>
    <tr>
        <td>Email</td>
        <td><input type="text" name="email1"></td>
    </tr>
    <tr>
        <td>Mobile</td>
        <td><input type="text" name="mob1"></td>
    </tr>
    <tr>
        <td>Address</td>
        <td><input type="text" name="add"></td>
    </tr>
    <tr>
        <td>City</td>
        <td><input type="text" name="city"></td>
    </tr>
    <tr>
        <td>State</td>
        <td><input type="text" name="state"></td>
    </tr>
    <tr>
        <td>Password</td>
        <td><input type="password" name="pwd1"></td>
    </tr>


</table>
        <input type="submit">
    </form>
</body>
</html>